# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- To list languages used in data science
- To list libraries
- To create tables
- To perform arithmetic expressions
- To learn heading styles

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

Data Science Tools |
-------------------
MySQL |
PostgreSQL |
GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python:
1. 3+5=8
2. 5-2=3

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

# **Author**
Kriti Gupta